:root {
    --card-size: 150px;
}

.title {
    font-size: 20px;
    text-align: center;
}

.text {
    text-align: center;
}

.wrap {
    padding: 15px 0;

    display: flex;
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
}

.circle {
    box-sizing: border-box;

    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-align: center;

    margin: 0 5px;

    cursor: pointer;

    transition: box-shadow .3s ease-out;
}

.circle:hover {
    box-shadow: 0 0 15px -5px black;
}

.circle.selected {
    border: 2px solid black;
}

.all-course {
    flex-basis: 70%;
}

.selected-course {
    flex-basis: 27%;
    position: relative;
}

.selected-course:after {
    content: '';
    position: absolute;
    top: 0;
    left: -2px;
    height: 100%;
    background: #000;
    width: 2px;
}

.block__title {
    font-size: 22px;
}

.block-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.block {
    padding: 0px 20px;
}

.course-wrap {
    display: grid;
    grid-auto-rows: var(--card-size);
    grid-template-columns: repeat(5, var(--card-size));
    width: 100%;
    justify-content: space-between;
    grid-row-gap: 10px;
}

.course-wrap.selected {
    grid-template-columns: repeat(2, var(--card-size));
}

.course {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    padding: 5px;
    height: var(--card-size);
    width: var(--card-size);
    border-radius: 5px;
    font-size: 17px;
    text-align: center;
    cursor: pointer;

    /*background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://asw2.ftcdn.net/v2/jpg/02/83/46/33/1000_F_283463385_mfnrx6RPU3BqObhVuVjYZjeZ5pegE7xq.jpg') center;*/
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform .3s ease-in-out;
}

.course:hover {
    /*transform: scale(1.025);*/
}

.course__img {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: transform .3s ease-in-out;
}

.course__text {
    position: relative;
    z-index: 1;
}

.course:hover .course__img {
    transform: scale(1.2);
}

.button-wrap {
    display: flex;
    justify-content: flex-end;
}

.button-wrap button {
    margin: 0 5px;
}

.button {
    background: #fff;
    font-size: 15px;
    padding: 10px 15px;
    border: 1px solid #000;
    cursor: pointer;
}

.button.accent {
    background: aquamarine;
}

/* MODAL */

.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.75);

    /*display: flex;*/
    justify-content: center;
    align-items: center;
}

.modal.show {
    display: flex;
}

.modal-container {
    height: 500px;
    width: 1000px;
    background: #ffffff;
    border-radius: 5px;
    overflow: hidden;

    display: flex;
}

.modal__img {
    width: 40%;
    object-fit: cover;
}

.modal__title {
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
}

.modal__subtitle {
    flex-grow: 1;
}

.modal__text span {
    font-weight: bold;
}

.modal__text {
    font-size: 18px;
    margin-bottom: 20px;
}

.modal-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 20px 30px;
}

.modal-block {
    display: flex;
    justify-content: flex-end;
}

.modal-block button {
    margin: 0 5px;
}
